@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    background-color: #1c2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px 0 80px;
    align-items: center;
}

nav h2{
    color: white;
    font-size: 25px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 0 8px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 7p 13px;
    border-radius: 3px;
    transition: 0.5s;
    text-transform: uppercase;
}

nav ul li a:hover, .active{
    color: red;
}

#click{
    display: none;
}

.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}





/* responsive part */

@media only screen and (max-width: 940px) {
    
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #17202a;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease;
    }

    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }

    #click:checked ~ ul{
        left: 0%;

    }
    nav ul li{
        margin: 50px 0;
    }
    
    nav ul li a{
        font-size: 22px;
    }

    .menu-btn{
        display: block;
    }
}