@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    background-color: #1c2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px 0 80px;
    align-items: center;
}

nav h2{
    color: white;
    font-size: 25px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 0 8px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 7p 13px;
    border-radius: 3px;
    transition: 0.5s;
    text-transform: uppercase;
}

nav ul li a:hover, .active{
    color: red;
}

#click{
    display: none;
}

.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

/* responsive part for menu*/

@media only screen and (max-width: 940px) {
    
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #17202a;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease;
    }

    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }

    #click:checked ~ ul{
        left: 0%;

    }
    nav ul li{
        margin: 50px 0;
    }
    
    nav ul li a{
        font-size: 22px;
    }

    .menu-btn{
        display: block;
    }
}





/* Header Section start here */

header{
    background-image: url('../images/banner.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/* first section main tag start */

.first-section{
    background-color: #16213e;
    padding-bottom: 100px;
}

.service-parent{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.single-service{
    background-color: white;
    text-align: center;
    color: black;
    padding: 30px 20px;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 5px 5px 10px grey;
}

.single-service i{
    font-size: 40px;
}
.service-parent h2{
    margin: 10px 0;
    font-weight: bold;
}

.service-title{
    text-align: center;
    color: white;
    padding: 50px 0;
    letter-spacing: 0.2em;
    font-size: 28px;
}


/* first section of main tag media query code */
@media only screen and (max-width: 688px) {
    
    .service-parent{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 95%;
    }
}

@media only screen and (min-width: 689px) and (max-width: 1099px) {
    .service-parent{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 95%;
    }
}

